* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}

#wrapper {
    background-color: white;
    height:55px;
    margin: 0;
}

#header {
    width: 960px;
    height: 100px;
    background-color: white;
    margin: 0px auto;
}

.myname {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    background-color: #4aaaa5;
    width: 250px;
    padding: 20px;
    color: white;
    position: relative;
    left: 0px;
    bottom: -7px;
}

/* list */
.menu {
    margin: 0;
    padding: 20px 0 0 0;
    position: relative;
    left: 750px;
    bottom: 65px;
}

.menu ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    padding: 5px;
    color: black;
    float: left;
    font-style: normal;
    text-decoration: none;
}

a {
text-decoration: none;}

#container2 {
    height: 400px;
    border-top: 1px solid gray;
    background-image: url("../images/psych.png");
    float: clear;    
}

#container3 {
    height: 1200px;
    border-top: 1px solid gray;
    background-image: url("../images/psych.png");
    float: clear;    
}


#about {
    width: 960px;
    margin: 40px auto;
    background-color: white;
    padding: 20px;
}

#portimgbox {
    width: 960px;
    margin: 40px auto;
    background-color: white;
    padding: 20px;
    }
}

.abouthead {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    color: #4aaaa5;
}

.porthead {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    color: #4aaaa5;
}

.aboutimg {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 10px;
    

}

#footer {
    border-top: 6px solid #4aaaa5;
    background-color: #666666;
    font-size: .75em;
    text-align: center;
    width: 100%;
    padding: 5px;
    color: white;
}

/* Sample form code */

#maincontent h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    }

    .formname {
      width: 930px;
      padding: 12px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }

    .formemail {
      width: 930px;
      padding: 12px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    
    .formmessage {
        width: 930px;
        height: 300px;
        padding: 12px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }

    .formsubmit {

      background-color: #4aaaa5;
      color: white;
      padding: 10px 10px;
      border: none;
      text-align: center;
    }
    .messagebox {
        background-color: white;
        padding: 20px;
      }
      
      #portimgbox::after {
        content: "";
        clear: both;
        display: table;
    }

.image1 {
    float:left;
    width: 285px;
    height: 285px;
    padding: 0 20px 0 0;
    margin: 10px 10px;
    background-color: black;
    }

.imagebar {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    text-emphasis:bold;
    text-align: center;
    color: white;
    position: relative;
    bottom: 50px;
    left: 0px;
    width: 285px;
    height: 30px;
    padding:3px 20px 3px 0px;
    margin:0;
    background-color: purple;

}

.imagebar2 {
    position: relative;
    bottom: 50px;
    left: 0px;
    width: 285px;
    height: 30px;
    padding:3px 20px 3px 0px;
    margin:0;
}
